<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="about.css" />
</head>
<body>

<div class="box-form">
	<div class="header">
  		<img src="images/Group5.png" alt="logo" />
  		<h1>CONNECTED</h1>
  	</div>
  	<div class="hello">About Us</div>
  	<button class="home">Home</button>
  	<button class="approval">Approvals</button>
  	<button class="calender">Calender</button>
  	<button class="events">Events</button>
  	<button class="about">About</button>
  	<button class="logout">Logout</button>
  	
  	<div class="About">A bunch of CSE Juniors who came together to resolve Event Management for once and for all.<br> Any and all kinds of feedback is always welcome!<br><br> Contact us - <br>Aarushi Dhir: ad468@snu.edu.in <br> Khushi Nayal: kn604@snu.edu.in <br> Muskan Mehta: mm615@snu.edu.in</div>
			
</div>


</body>
</html>
