<%- include('partials/header'); -%>
<link rel="stylesheet" href="/stylesheet/bookvisit_styles.css" />
<%- include('partials/middle'); -%>
<div class="row">
  <div class="col leftside">
    <h2 class="heading">
        <img  class="celebrate" src="images/celebrate.png"  alt="">
        Request Accepted
    </h2>
</div>
<%- include('partials/footer'); -%>