<%- include('partials/header'); -%>
<link rel="stylesheet" href="/stylesheet/forgot_styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<%- include('partials/middle'); -%>
</br>
</br>
</br>
<h1 class="text-center" style="color: #595959;"><%= data%></h1>
</br>
</br>
</br>
<%- include('partials/footer'); -%>