<%- include('partials/header'); -%>
	<link rel="stylesheet" href="/stylesheet/organiser_home.css" />
	<%- include('partials/middle'); -%>
	<div class="box-form">
		<div class="header">
			  <img src="images/Group5.png" alt="logo" />
			  <h1>CONNECTED</h1>
		  </div>
		  <div class="hello">Hello, Organizer!</div>
		  <button class="home">Home</button>
		  <button class="approval">Approvals</button>
		  <button class="calender">Calender</button>
		  <button class="events">Events</button>
		  <button class="about">About</button>
		  <button class="logout">Logout</button>
		  <a href="/getrequest"><button id="Newreq"><img src="images/Group 19.png" alt="logo" /></button></a>
		  <button id="Trackpend"><img src="images/Queue-amico 1.png" alt="logo" /></button>
		  <button id="Upcomingeve"><img src="images/A whole year-cuate 1.png" alt="logo" /></button>
		  <button id="Announcements"><img src="images/World Press Freedom Day-cuate 1.png" alt="logo" /></button>
		  <div class="Newrequest">New request</div>
		  <div class="Trackpending">Track pending requests</div>
		  <div class="Upcomingevent">Upcoming Events</div>
		  <div class="Announce">Announcements</div>
				
	</div>
<%- include('partials/footer'); -%>