<%- include('partials/header'); -%>
<link rel="stylesheet" href="/stylesheet/bookvisit_styles.css" />
<%- include('partials/middle'); -%>
<div class="row">
  <div class="col leftside">
    <h2 class="heading">
      Done!
    </h2>
   <p class="ptop">Request Removed!!</p>
</div>
<%- include('partials/footer'); -%>