<%- include('partials/header'); -%>
<link rel="stylesheet" href="/stylesheet/bookvisit_styles.css" />
<%- include('partials/middle'); -%>
<div class="row">
  <div class="col leftside">
    <h2 class="heading">
      Congratulations!
    </h2>
   <p class="ptop">You have registered for the event</p>
</div>
<%- include('partials/footer'); -%>