<%- include('partials/header'); -%>
	<link rel="stylesheet" href="/stylesheet/signup.css" />
<%- include('partials/middle'); -%>

<div class="box-form">
	<div class="header">
  		<img src="images/Group5.png" alt="logo" />
  		<h1>CONNECTED</h1>
  	</div>
  	<div class="left">
  		<img src="images/Illustration1.png" alt="img" />
		<p>Welcome!<br>
		Help us remember you!</p>
	</div>
	<div class="vertical"></div>
	<div class="right">
		<h5>Sign up</h5>
        <form action="/signup" method="POST">
            <div class="inputs">
                <input type="text" id="name" name="name" placeholder="Username" required>
                <br>
                <input type="email" id="email" name="email" placeholder="Email Id" required>
                <br>
                <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
                <br>
                <input type="text" id="department" name="department" placeholder="Department">
                <br>
                  <select required id="occupation" name="occupation">
                    <option value="" disabled selected hidden>Occupation</option>
                    <option>Student</option>
                    <option>Faculty</option>
                </select>
                  
                <br>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <br>
                <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" required>
            </div>			
                <br><br>
                <br>
                <button type="submit" class="submit_button">Create Account</button>
                <br><br><br>
                <p>Already have an account? <a href="login">Login</a></p>
        </div>
    

	</div>
</form>
<%- include('partials/footer'); -%>